<div class="wrapper">
    <div id="content">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Staking Card -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Swap Wallet Transfer</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="fundTransferForm" (ngSubmit)="fundTransfer()">
                            <h4 style="float: right;">Balance:{{userBlance}}</h4>
                            <div class="form-group mb-3">
                                <label for="stakeAmount">Amount   Transfer:</label>
                                <input
                                    type="number"
                                    id="stakeAmount"
                                    class="form-control"
                                    formControlName="amount"
                                    required
                                />
                                <div
                                    *ngIf="fundTransferForm.get('amount')?.invalid && (fundTransferForm.get('amount')?.touched || fundTransferForm.get('amount')?.dirty)"
                                    class="text-danger"
                                >
                                    Amount is required and must be greater than 0.
                                </div>
                            </div>

                      
                            <h4 style="float: right;">Trade wallet Balance:{{totalInternalTransferBalance}}</h4>
                            <div class="form-group mb-3">
                                <label for="stakeAmount">Amount Recieved</label>
                                <input
                                    type="number"
                                    id="stakeAmount"
                                    class="form-control"
                                  value="0"
                                    required
                                    [disabled]="true"
                                />
                                <div
                                    *ngIf="fundTransferForm.get('amount')?.invalid && (fundTransferForm.get('amount')?.touched || fundTransferForm.get('amount')?.dirty)"
                                    class="text-danger"
                                >
                                    Amount is required and must be greater than 0.
                                </div>
                            </div>

                            <button
                                type="submit"
                                class="btn btn-primary btn-block"
                                [disabled]="fundTransferForm.invalid"
                            >
                            Transfer
                            </button>
                        </form>
                    </div>
                </div>

            </div>
       
    </div>
</div>
